@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="~/Home/GetCompanies">Companies </a></td>
            <td><a href="~/Home/GetUsers">Users</a></td>
        </tr>
    </table>
</body>
</html>